<h1>About Us</h1>

<p>
  Get results. Feel good.
ABOUT BARRE3
Finding balance is at the core of everything we do. It starts with our workouts: every barre3 class strategically strengthens, tones, and balances the body.

MORE ABOUT THE WORKOUT

OUR APPROACH
Exercise is just one part of the equation.

Exercise, nourish, connect: these are the 3 pillars of the barre3 approach. It’s not just about how hard you work out or the numbers on the scale. It’s about nourishing your body and making connections in order to lead a balanced and happier life. By focusing on whole-body health, we empower you to feel your best from the inside out.

OUR STORY
Sadie and Chris Lincoln are on a mission.

After 20+ years in the corporate fitness industry, Sadie and Chris Lincoln broke out on their own to create barre3—a unique fitness experience that balances exercise, nutrition, and community. In 2008, they opened their flagship barre3 studio in beautiful Portland, Oregon. Today, barre3 has grown to 100+ studios and an online community of thousands. Our mission has remained the same: to make the world a happier, healthier place.
MORE ABOUT SADIE

OUR TEAM
We empower people to find careers they love.

Barre3 is more than just a workout. It’s a community of passionate people who embrace our philosophies to deliver a remarkable studio experience, every single time. Contact your local studio to learn more or check out the career opportunities at barre3 headquarters.
CAREERS AT BARRE3
</p>
