<h2>Barre3 Team and Owners</h2>

<div *ngFor="let instructor of instructors | async " class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(instructor)"><em>{{instructor.name}}</em> {{instructor.lastname}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      <br>{{instructor.description}}<br>
      {{instructor.location}}<br>
      {{instructor.owner}}<br>
      <hr>
      <app-edit-instructor [selectedInstructor]="instructor"></app-edit-instructor>
    </div>
  </div>
</div>
